<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.Surface.Manageability.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.Surface.Manageability.Configuration.Properties.Settings>
            <setting name="SupportedInputLanguageIDs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0x409</string>
                        <string>0x20409</string>
                        <string>0x809</string>
                        <string>0x452</string>
                        <string>0x11009</string>
                        <string>0x40c</string>
                        <string>0x1009</string>
                        <string>0x100c</string>
                        <string>0x80c</string>
                        <string>0x1080c</string>
                        <string>0x407</string>
                        <string>0x807</string>
                        <string>0x40a</string>
                        <string>0x80a</string>
                        <string>0x410</string>
                        <string>0x414</string>
                        <string>0x406</string>
                        <string>0x41d</string>
                        <string>0x412</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SupportedUILanguages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>da-DK</string>
                        <string>de-DE</string>
                        <string>en-US</string>
                        <string>es-ES</string>
                        <string>fr-FR</string>
                        <string>it-IT</string>
                        <string>ko-KR</string>
                        <string>nb-NO</string>
                        <string>nl-NL</string>
                        <string>sv-SE</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Microsoft.Surface.Manageability.Configuration.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
